:root {
	--bs-primary: #04c8c8;
	--bs-secondary: #026464;
	--bs-success: #008005;
	--bs-warning: #f5c366;
	--bs-danger: #c00000;
	--bs-light: #e6fefe;
	--bs-dark: rgb(0, 182, 182);
	--bs-primary-rgb: 4, 200, 200;
	--bs-secondary-rgb: 2, 100, 100;
	--bs-success-rgb: 0, 128, 5;
	--bs-warning-rgb: 245, 195, 102;
	--bs-danger-rgb: 192, 0, 0;
	--bs-light-rgb: 230, 254, 254;
	--bs-dark-rgb: 0, 182, 182;
	--bs-font-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
}

.rating > input {
	display: none;
}
.rating > label {
	position: relative;
	width: 1em;
	font-size: 30px;
	font-weight: 300;
	color: var(--bs-warning)
	cursor: pointer;
}

.rating > label::before {
	content: "\2605";
	position: absolute;
	opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
	opacity: 1 !important;
}
.rating > input:checked ~ label:before {
	opacity: 1;
}
.rating:hover > input:checked ~ label:before {
	opacity: 0.4;
}

.btn-primary {
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
}

.btn-light {
	background-color: var(--bs-light);
	border-color: var(--bs-light);
}

.card {
	border: 1px solid var(--bs-light);
}

.form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: var(--bs-light);
}
.form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: var(--bs-light);
}
.form-control:-moz-placeholder {
	/* Firefox 18- */
	color: var(--bs-light);
}

.form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: var(--bs-light) !important;
}

.nav-link {
	color: var(--bs-secondary);
	font-size: 0.875rem;
}

.nav-link:hover {
	color: var(--bs-primary);
}

.arrow-icon {
	color: var(--bs-light);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}
.arrow-icon:hover {
	color: var(--bs-secondary);
}

#logo {
	width: 64px;
	height: 36px;
}
@media (min-width: 768px) {
	.nav-link {
		font-size: calc(1rem * 1.25);
	}
	#logo {
		width: 128px;
		height: 72px;
	}
	.nav-icon {
		font-size: calc(1.275rem + 0.3vw) !important;
	}
}

hr.solid {
    border-top: 2px solid #999;
}
	
	.address{
	margin-left: 22px;
	margin-top:-23px;

	
	}
	.card-title{
	
	color:#039696;
	}
	
	.link{
	
	color:#039696;
	}
	
.btn-primary {
  background-color:#04C8C8;
  border-color: #04C8C8;
  border-radius:40px;}
	
.btn-primary:hover {
  background: #04C8C8;
  border: #04C8C8;}

.btn{
	background-color: #04C8C8;
	}
	
.stars{
	float:right;
	
	}
	
.fa-calendar{
	display:inline-block;
	}
input[type="text"]{
	background-color:#B9FEFE;
	}





	
	
	


